* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 17px;
}

body {
  margin: 0;
  padding: 0;
  background: url(../images/bg-curve-desktop.svg) no-repeat bottom;
  background-size: 100%;
}

nav {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
  font-family: "Raleway", sans-serif;
}

nav .underline {
  position: relative;
}

nav .underline:before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0%;
  height: 2px;
  margin: 15px 0px 0px;
  opacity: 0;
  background-color: black;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav .underline:hover:before {
  width: 100%;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: auto;
  padding: 0;
}

nav ul li {
  padding-left: 3.5em;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.First {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 2em;
  width: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.First .content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Raleway", sans-serif;
}

.First .content h1 {
  font-size: 2rem;
  line-height: 2.8rem;
}

.First .content p {
  width: 90%;
  font-family: "Open Sans", sans-serif;
}

.First .content form {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.8em;
}

.First .content form .email {
  width: 60%;
  border: 1px solid #525252;
  height: 2.3em;
}

.First .content form .email input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 8px 16px 8px 16px;
  font-family: "Open Sans", sans-serif;
}

.First .content form .email ::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
}

.First .content form .email :-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
}

.First .content form .email ::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
}

.First .content form .email ::placeholder {
  font-family: "Open Sans", sans-serif;
}

.First .content form .get_started {
  width: 35%;
  margin-left: 5%;
  background-color: #3065f8;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.First .content form .get_started:hover {
  opacity: 0.9;
}

.First figure {
  margin-right: 0;
}

.First figure img {
  max-width: 100%;
}

main {
  width: 100%;
}

main:before {
  content: "";
  background: url("../images/bg-curve-desktop.svg") no-repeat top;
  background-size: 100%;
}

.Second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-top: 10em;
}

.Second figure {
  margin-right: 0;
}

.Second figure img {
  max-width: 100%;
}

.Second .underline {
  position: relative;
}

.Second .underline:before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0%;
  height: 2px;
  margin: 15px 0px 0px;
  opacity: 0;
  background-color: #3c9f8f;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Second .underline:hover:before {
  width: 100%;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.Second h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
}

.Second p {
  width: 90%;
  font-family: "Open Sans", sans-serif;
}

.Second a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #3c9f8f;
}

.Second a img {
  padding-left: 0.5em;
}

.testimonal_card {
  margin-top: 1.5em;
  width: 65%;
  background: white;
  font-family: "Open Sans", sans-serif;
  border-radius: 6px;
  padding: 1.5em 0em 1.5em 1em;
  -webkit-box-shadow: 0.2em 0.4em 0.8em #bfbfbf;
          box-shadow: 0.2em 0.4em 0.8em #bfbfbf;
}

.testimonal_card p {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 0.9rem;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1em;
}

.author img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

.authorname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0.4em;
}

.authorname h2 {
  font-size: 0.8rem;
  margin: 0.1em 0em 0.1em 0em;
}

.authorname span {
  font-size: 0.6rem;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.getaccess_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6em;
  padding: 4em 6em 4em 4em;
  background-color: #585989;
  color: white;
}

.left {
  width: 40%;
}

.left h1 {
  font-family: "Raleway", sans-serif;
  margin: 0em 0em 0.6em 0em;
}

.left p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  line-height: 1.4rem;
  margin: 0.2em 0em 0.2em 0em;
  padding-right: 6em;
}

.getaccess_container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 30%;
}

.getaccess_container form .email {
  border: 1px solid #525252;
  height: 2.3em;
  border-radius: 7px;
}

.getaccess_container form .email input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 8px 16px 8px 16px;
  font-family: "Open Sans", sans-serif;
}

.getaccess_container form .email ::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
}

.getaccess_container form .email :-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
}

.getaccess_container form .email ::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
}

.getaccess_container form .email ::placeholder {
  font-family: "Open Sans", sans-serif;
}

.getaccess_container form button {
  width: 50%;
  height: 2.8em;
  margin-top: 1em;
  background-color: #3065f8;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.getaccess_container form button:hover {
  opacity: 0.9;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4em 3em 0em 4.5em;
  background-color: #070439;
}

footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.hyperlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.contact .underline {
  position: relative;
}

.contact .underline:before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0%;
  height: 2px;
  margin: 15px 0px 0px;
  opacity: 0;
  background-color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact .underline:hover:before {
  width: 100%;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  padding-top: 1em;
  font-family: "Open Sans", sans-serif;
}

.contact a img {
  padding-right: 0.8em;
}
/*# sourceMappingURL=main.css.map */